{% extends 'base.html' %}
{% load static %}
{% block content %}

<p class="text-start">#부농의아들 #한의원정신과10년</p>
<p class="text-center fs-1"><h1>[피플인사이드] 한의원과 정신의학과 전전...나약했던 유년기</p><br>

<img src="{% static 'images/1.jpg'%}" id="1" width="500" height="500" class="img-thumbnail"><br><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">  <span class="fw-bold">&nbsp;&nbsp;[동국일보=이건회 기자]</span> 여주군 흥천면에서 이름있는 지역 유지였던 부농 집안의 아들로 태어났지만 어두운 유년기를 보냈다.</p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;4~5세 사이에 겪은 큰 충격으로 어린 나이에 부정맥을 앓게 되어 정신적 질환까지 겹쳤고, 이후 약 10년 동안 고생했다. 중간에 맹장이 터져 수술을 받기도 했고, 녹용 산삼 인삼 등등 안 먹어본 보양식이 없으며 한의원에서 정수리 등판 발가락 등등 온몸에 침을 맞았다. 가끔 큰 병원에 있는 정신과를 방문해 뇌파검사를 받기도 했다. </p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;위에서 언급한 큰 충격이라 함은 4세인가 5세 때 아버지와 밤 산책 중 장난기가 발동안 아버지께서 나를 두고 어디론가 숨어버리셨는데, 그 때 크게 놀란 기억이 사라지지 않아 질환으로까지 이어졌다. 아버지가 상당히 미안해하셨는데, 지금도 돈이 궁할 때마다 이 때 이야기를 하면 용돈을 잘 주셔서 나름의 전화위복이 됐다.</p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;이후 초등학교 입학과 동시에 소림축구 영화를 보고 매료된 나머지 6년 동안 쿵푸를 했다. 6년 동안 이곳저곳 대회까지 나가며 은메달도 두 개 따냈지만 차마 아들이 맞는 모습을 못 보시던 어머니의 간곡한 부탁으로 그냥 접고 축구만 열심히 했다.</p>
{% endblock %}