{% extends 'base.html' %}
{% load static %}
{% block content %}

<p class="text-start">#기자 #통계학 #코딩</p>
<p class="text-center fs-1"><h1>[피플인사이드] 기자의 꿈 접고 코딩을 하기까지...</p><br>
<img src="{% static 'images/4.jpg'%}" id="4" width="500" height="500"><br><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">  <span class="fw-bold">&nbsp;&nbsp;[동국일보=이건회 기자]</span> 복학 후 원래 갖고 있던 기자의 꿈을 펼치기 위해 댜양한 관련 대외활동을 하기 시작했다. 6개월 간 보건복지부에서 대학생 기자로 활동하며 정책 홍보기사를 썼고, 작년 7월부터 올해 2월까지 한국대학스포츠협의회에서 역시 대학생 기자로 활동하며 스포츠 기사 및 컨텐츠를 창작했다.</p><br>
<img src="{% static 'images/4-3.jpg'%}" id="4" width="500" height="500"><img src="{% static 'images/4-2.jpg'%}" id="4" width="500" height="500"><br><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;그러나 기사를 쓰면 쓸 수록 이 분야의 전문성과 비전에 대한 의문이 계속해서 생겨났다. 따라서 범용성 있는 분야에 갈증이 생겨 통계학 복수전공을 시작했다.</p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;통계학을 공부하며 R이라는 프로그램을 접했고, 처음으로 코딩을 시작했다. 처음엔 마냥 멀게만 느껴졌던 코딩이라는 분야를 막상 직접 시작해보니 벽이 느껴지는 수준은 아니었다.</p><br>
<img src="{% static 'images/4-4.jpg'%}" id="4" width="500" height="500"><br><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp; 역시 통계학과 관련이 높은 프로그램인 파이썬을 공부하기 시작하면서 이 프로그램의 범용성에 큰 매력을 느꼈다. 웹 스크래핑이나 간단한 게임 등을 유투브를 통해 따라해보며 신세계를 경험한 기분도 들었다.</p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;따라서 이 분야를 더 깊게 탐구하기 위해 커뮤니티를 찾던 중 멋쟁이사자처럼의 존재를 알게 되었고, 9기 멤버로서 활동할 수 있는 영광을 얻었다.</p><br>
{% endblock %}