{% extends 'base.html' %}
{% load static %}

{% block content %}

<p class="text-start">#멋사이건회</p>
<p class="text-center fs-1"><h1 id="title">[오피셜] 동국대 이xx 학생 멋사 3주차 과제 제출</h1></p><br>
<img src="{% static 'images/동대멋사.jpeg'%}" class="img-thumbnail"><br><br>
<p class="text-sm-start text-break fs-5 fw-bold">- 24년 대서사시 한 페이지에 담다</p>
<p class="text-sm-start text-break fs-5 fw-bold">-제목 누르면 확인 가능한 것으로 밝혀져...</p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;<span class="fw-bold">[동국일보=이건회 기자]</span> 동국대 4학년에 재학중인 이xx 학생이 최근 멋사 3주차 과제를 제출한 것으로 알려져 학계에 큰 논란이 일었다. 이xx의 결과물은 상단의 제목을 클릭하면 확인 할 수 있으며, 평소 베일에 싸여 있던 이xx의 발표로 업계는 충격에 휩싸였다.</p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp; 해당 학생은 본 과제에서 24년 생을 통시적으로 드러낼 생각임을 밝혔는데, 충분한 퇴고와 필터링 없이 빠르게 쓴 글임을 감안해서 읽어주시를 바라며, 앞으로 열심히 하겠다는 각오를 드러내...(이하 생략)</p>
{% endblock %}
