{% extends 'base.html' %}
{% load static %}

{% block content %}
<p class="text-start">#축구선수 #글쓰기 #정시파이터</p>
<p class="text-center fs-1"><h1>[피플인사이드] 축구선수를 접은 소년...글쓰기 통해 인생 2막 열다</p><br>
<img src="{% static 'images/2.jpg'%}" id="2" width="500" height="500"><br><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">  <span class="fw-bold">&nbsp;&nbsp;[동국일보=이건회 기자]</span> 초등학교 때 소림축구 영화를 보고 축구선수가 되고 싶어 지역 클럽팀에 들어가 축구를 배웠다. </p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;당시 대회에서 개인상도 몇 번 받았기에 스스로 재능이 있다고 생각했다. 중학교 진학 이후에도 팀에 계속 머물며 학원축구팀을 상대로 리그  첫 경기를 치렀는데, 무려 14대 0으로 패배했다.</p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;덕분에 깔끔하게 나는 이 길이 아니다 판단한 후  학생으로 돌아갔다. 그러나 한동안 공부를 놓고 살았기에 놀러다니기 일쑤, 고등학교 2학년까지 성적이 개판을 쳤다. 일반고 내신 5~6등급이면 말 다했다.</p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;그러다 당시 썼던 축구칼럼을 속는 셈 치고 “대한민국청소년의회”라는 곳에 제출했는데, 우연히 좋은 평가를 받아 해당 단체에서 비평단이라는 명목으로 칼럼을 쓰기 시작했다. 활동 중 글쓰기에 재미를 붙여, 좋은 대학에 가서 글 잘 쓰는 법을 배우고 싶었다. 그래서 수능 공부를 시작했고, 운좋게도 좋은 성적을 받아 동국대학교에 올 수 있었다.</p>
{% endblock %}