{% extends 'base.html' %}
{% load static %}

{% block content %}
<p class="text-start">#축제 #알바 #여행 #군대</p>
<p class="text-center fs-1"><h1>[피플인사이드] 반짝였던 동국대 2년...그러나 나라의 품으로</h1></p><br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/3-1.jpg'%}" class="d-block w-100 img-thumbnail" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/3-2.jpg'%}" class="d-block w-100 img-thumbnail" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/3-3.jpg'%}" class="d-block w-100 img-thumbnail" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg"><span class="fw-bold">&nbsp;&nbsp;[동국일보=이건회 기자]</span>  대학교 1학년 부터 2년 동안과 학생회 집행부원으로 활동하며 안 해본 과 활동이 없다. 주점, 학술제, 엠티 등등...특히 서울권 대학교 축제는 모두 섭렵하며 “축제몬스터”라고 불리던 시절이 있었다. 참고로 건대랑 홍대 축제가 제일 괜찮았다.</p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;돈을 벌고 싶어 알바를 닥치는 대로 했다. 워터파크 안전요원, 호텔, 뷔페, 예식장, 카페, 피시방, 골프장까지 각종 업계를 섭렵했다. </p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;알바를 통해 번 돈으로 여행을 자주 다녔다. 오키나와, 도쿄, 홍콩, 마카오, 영국, 독일을 경험했다. 원래 작년 유럽여행을 한 번 더 계획했지만 코로나 때문에 수포로 돌아갔다. 시국이 풀리면 북중미나 남미 여행을 갈 계획이다.</p><br>
<p class="text-sm-start text-break fs-5 fw-normal lh-lg">&nbsp;&nbsp;청춘을 뒤로 하고 군대에 가서 많은 것을 잃었다. 친구, 시간, <del>cc</del> 등…그러나 몸 건강히 나올 수 있었음에 감사하다.</p>
{% endblock %}