<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" onClick="location.href='/'">Main</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" onClick="location.href='/first'">유년</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" onClick="location.href='/second'">청소년</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" onClick="location.href='/third'">복학전</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" onClick="location.href='/fourth'">복학후</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            게시물
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'main:posts' %}">전체 글 보기</a></li>
            <li><a class="dropdown-item" href="{%url 'main:new'%}">글 작성하기</a></li>
          </ul>
        </li>
    </div>
    <span class="navbar-text">
      @rawfishthelgh instagram follow plz
    </span>
  </div>
</nav>