<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">내용</th>
      <th scope="col">작성자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td onClick="location.href='/first'">유년</td>
      <td>#부농의아들 #한의원정신과10년</td>
      <td>이건회</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td onClick="location.href='/second'">청소년</td>
      <td>#축구선수 #글쓰기 #정시파이터</td>
      <td>이건회</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td onClick="location.href='/third'">복학전</td>
      <td>#축제 #알바 #여행 #군대</td>
      <td>이건회</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td onClick="location.href='/fourth'">복학후</td>
      <td>#기자 #통계학 #코딩</td>
      <td>이건회</td>
    </tr>
  </tbody>
</table>